In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv("/content/tripadvisor_hotel_reviews.csv",engine="python")

In [ ]:
col = {}
values=[]
for i in range(0,len(df['Rating'])):
  values.insert(i,(df['Rating'][i]))

df['Converted numeric'] = [x//3 if x/6==0.5 else int(round(x/6)*2) for x in df['Rating'] ] 
misind=[]
for i in range(0,len(df['Rating'])):
  if df['Rating'][i] not in [1,2,3,4,5]:
    misind.append(i)
print(misind)

[]

In [ ]:
import re
for i in range(0,len(df['Review'])):
  df['Review'][i] = re.sub(r'^https?:\/\/.*[\r\n]*', '', df['Review'][i], flags=re.MULTILINE)
df['Review'] = df['Review'].apply(lambda x: re.split('www.*', str(x))[0])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
df['Review']=[x.lower() for x in df['Review']]
#print(df.head())
for i in range(0,len(df['Review'])):
  df['Review'][i]=list(df['Review'][i])
  for x in range(0,len(df['Review'][i])):
    if not df['Review'][i][x].isalpha():
      df['Review'][i][x]=' '
  df['Review'][i]="".join(df['Review'][i])
print(df.head())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                                              Review  Rating  Converted numeric
0  nice hotel expensive parking got good deal sta...       4                  2
1  ok nothing special charge diamond member hilto...       2                  0
2  nice rooms not    experience hotel monaco seat...       3                  1
3  unique  great stay  wonderful time hotel monac...       5                  2
4  great stay great stay  went seahawk game aweso...       5                  2

In [ ]:
for i in range(0,len(df['Review'])):
  df['Review'][i]=" ".join(df['Review'][i].split())
print(df.head())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                                              Review  Rating  Converted numeric
0  nice hotel expensive parking got good deal sta...       4                  2
1  ok nothing special charge diamond member hilto...       2                  0
2  nice rooms not experience hotel monaco seattle...       3                  1
3  unique great stay wonderful time hotel monaco ...       5                  2
4  great stay great stay went seahawk game awesom...       5                  2

In [ ]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
from nltk.tokenize import sent_tokenize, word_tokenize

df['Token_Review']=[0 for i in df['Review']]
for i in range(0,len(df['Review'])):
  df['Token_Review'][i]=word_tokenize(df['Review'][i])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [ ]:
df.head()

                                              Review  ...                                       Token_Review
0  nice hotel expensive parking got good deal sta...  ...  [nice, hotel, expensive, parking, got, good, d...
1  ok nothing special charge diamond member hilto...  ...  [ok, nothing, special, charge, diamond, member...
2  nice rooms not experience hotel monaco seattle...  ...  [nice, rooms, not, experience, hotel, monaco, ...
3  unique great stay wonderful time hotel monaco ...  ...  [unique, great, stay, wonderful, time, hotel, ...
4  great stay great stay went seahawk game awesom...  ...  [great, stay, great, stay, went, seahawk, game...

[5 rows x 4 columns]

In [ ]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
from nltk.corpus import stopwords

stop_words = set(stopwords.words('english'))

df['Without_Stopword']=[[] for i in df['Token_Review']]

for i in range(0,len(df['Token_Review'])):
  for j in range(0,len(df['Token_Review'][i])):
    if df['Token_Review'][i][j] not in stop_words:
      df['Without_Stopword'][i].append(df['Token_Review'][i][j])

In [ ]:
df.head()

                                              Review  ...                                   Without_Stopword
0  nice hotel expensive parking got good deal sta...  ...  [nice, hotel, expensive, parking, got, good, d...
1  ok nothing special charge diamond member hilto...  ...  [ok, nothing, special, charge, diamond, member...
2  nice rooms not experience hotel monaco seattle...  ...  [nice, rooms, experience, hotel, monaco, seatt...
3  unique great stay wonderful time hotel monaco ...  ...  [unique, great, stay, wonderful, time, hotel, ...
4  great stay great stay went seahawk game awesom...  ...  [great, stay, great, stay, went, seahawk, game...

[5 rows x 5 columns]

In [ ]:
from nltk.stem import PorterStemmer

ps = PorterStemmer()
df['Stemming']=[[] for i in df['Review']]
for i in range(0,len(df['Without_Stopword'])):
  for w in df['Without_Stopword'][i]:
    df['Stemming'][i].append(ps.stem(w))

df.head()

                                              Review  ...                                           Stemming
0  nice hotel expensive parking got good deal sta...  ...  [nice, hotel, expens, park, got, good, deal, s...
1  ok nothing special charge diamond member hilto...  ...  [ok, noth, special, charg, diamond, member, hi...
2  nice rooms not experience hotel monaco seattle...  ...  [nice, room, experi, hotel, monaco, seattl, go...
3  unique great stay wonderful time hotel monaco ...  ...  [uniqu, great, stay, wonder, time, hotel, mona...
4  great stay great stay went seahawk game awesom...  ...  [great, stay, great, stay, went, seahawk, game...

[5 rows x 6 columns]

In [ ]:
for i in range(len(df['Stemming'])):
  df['Review'][i]=" ".join(df['Stemming'][i])
df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                                              Review  ...                                           Stemming
0  nice hotel expens park got good deal stay hote...  ...  [nice, hotel, expens, park, got, good, deal, s...
1  ok noth special charg diamond member hilton de...  ...  [ok, noth, special, charg, diamond, member, hi...
2  nice room experi hotel monaco seattl good hote...  ...  [nice, room, experi, hotel, monaco, seattl, go...
3  uniqu great stay wonder time hotel monaco loca...  ...  [uniqu, great, stay, wonder, time, hotel, mona...
4  great stay great stay went seahawk game awesom...  ...  [great, stay, great, stay, went, seahawk, game...

[5 rows x 6 columns]